body{
  margin: 0;
}
.app{
  text-align: center;
}
.phone{
  border:2px solid crimson;

  padding: 1rem;
}
.otp{
  width: 40px;
  height: 40px;
  margin-left: 1.25rem;
  border-radius: 0.4rem;
  border: 2px solid rgb(200, 200, 200);
  text-align: center;
}
.num-inp{
  padding: 16px;
}
.input-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  padding: 16px;
}
.otp-cmp{}